<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3Nn0uH6qjM6cR1urqdj8-xDnuw71bwjM</string>
	<key>GCM_SENDER_ID</key>
	<string>305827499931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yurich.counters</string>
	<key>PROJECT_ID</key>
	<string>counters-claude-playing</string>
	<key>STORAGE_BUCKET</key>
	<string>counters-claude-playing.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305827499931:ios:bde100f7e92baad7bcdb3e</string>
</dict>
</plist>